<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if(locals.title) {%>
        <%= title %>
      <% } else { %>
        Paige Candy
      <% } %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  </head>
  <body class="container">

